@model NetCoreAI.Project02_ApiConsumeUI.Dtos.CreateCustomerDto
@{
	Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
	<div class="container">
		<br />
		<label>Müşteri Adı</label>
		<input type="text" asp-for="CustomerName" class="form-control" />
		<br />
		<label>Müşteri Soyadı</label>
		<input type="text" asp-for="CustomerSurname" class="form-control" />
		<br />
		<label>Müşteri Bakiye</label>
		<input type="text" asp-for="CustomerSalary" class="form-control" />
		<br />
		<button class="btn btn-primary">Müşteriyi Oluştur</button>
	</div>
</form>